/* --------------------------------------
@Author: ThemeMascot
@URL: http://themeforest.net/user/ThemeMascot
----------------------------------------- */
/*
 * rtl.less
 * -----------------------------------------------
*/
html,
body {
  direction: rtl;
}
